.editor {
    border: 1px solid gray;
    min-height: 6em;

    width: 600px;
    height: 400px;
}

.normal-center {
    text-align: center;
}

.normal-right {
    text-align: right
}

.normal-left {
    text-align: left;
}

.bold-center {
    text-align: center;
    font-weight: bold;
}

.bold-right {
    text-align: right;
    font-weight: bold;
}

.bold-left {
    text-align: left;
    font-weight: bold;
}